<div class="contact-box">
    <div class="contact-title-box">
        <div class="contact-name-box">
            {{contact.firstName+" "+contact.lastName}}
        </div>
        <div class="padding"></div>
        <div class="contact-action-box">
            <div class="contact-action-item edit">
                    <button type="button" class="btn btn-default" 
                        (click)="openEditorModal(contactEditor)" >Edit</button>
            </div>
            <div class="contact-action-item delete">
                    <button type="button" class="btn btn-default" 
                        (click)="openDeletorModal(deleteConfirmation)" >Delete</button>
            </div>
        </div>
    </div>
    <div class="contact-details-box">
        <div class="contact-info email">{{contact.email}}</div>
        <div class="contact-info phone">{{contact.phone}}</div>
        <div class="contact-info status" [ngSwitch]="contact.status">
            <span *ngSwitchCase="'INACTIVE'">Inactive</span>
            <span *ngSwitchCase="'ACTIVE'">Active</span>
        </div>
    </div>
</div>

<ng-template #contactEditor>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Contact</h4>
        <button type="button" class="close pull-right" aria-label="Close" 
            (click)="contactEditorModalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-box">
            <form #contactEditorForm="ngForm" (ngSubmit)="saveContact()" class="contact-form-box">
                <div class="input-group">
                    <div class="input-field">
                        <div class="input-control">
                            <input type="text" id="firstname-txt"
                                placeholder="First Name"
                                [(ngModel)]="newContact.firstName"
                                name="firstName"
                                required>
                        </div>
                    </div>
                    <div class="padding"></div>
                    <div class="input-field">
                        <div class="input-control">
                            <input type="text" id="lastname-txt"
                                placeholder="Last Name"
                                [(ngModel)]="newContact.lastName"
                                name="lastName"
                                required>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <div class="input-control">
                            <input type="text" id="email-txt"
                                placeholder="Email ID"
                                [(ngModel)]="newContact.email"
                                name="email"
                                required>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <div class="input-control">
                            <input type="text" id="phone-txt"
                                placeholder="Phone Number"
                                [(ngModel)]="newContact.phone"
                                name="phone"
                                required>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <div class="input-control">
                            <div class="btn-group" btnRadioGroup>
                                <label class="btn btn-primary"
                                    [(ngModel)]="contact.status"
                                    [ngModelOptions]="{standalone: true}"
                                    btnRadio="INACTIVE" tabindex="0" role="button">Inactive</label>
                                <label class="btn btn-primary"
                                    [(ngModel)]="contact.status"
                                    [ngModelOptions]="{standalone: true}"
                                    btnRadio="ACTIVE" tabindex="0" role="button">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="padding"></div>
                    <button type="submit" id="save-contact-btn"
                        [disabled]="!contactEditorForm.valid">Save</button>
                    <button type="submit" id="cancel-save-contact-btn"
                        class="btn-secondary"
                        (click)="contactEditorModalRef.hide()">Cancel</button>
                </div>                        
            </form>
        </div>
    </div>
</ng-template>

<ng-template #deleteConfirmation>
    <div class="modal-body text-center confirmation-box">
        <div class="confirmation-text">
            <p>Do you want to delete contact?</p>
        </div>
        <div class="confirmation-action">
            <div class="padding"></div>
            <button type="button" (click)="confirmDelete()">Yes</button>
            <button type="button" class="btn-secondary" (click)="deleteConfirmationModalRef.hide()">No</button>
        </div>
    </div>
</ng-template>
